{name, "erlson"}.
{authors, ["Anton Lavrik <alavrik@piqi.org>"]}.
{description, "Erlang Simple Object Notation - dynamic name-value dictionary data type and syntax for Erlang"}.
{homepage, "https://github.com/alavrik/erlson"}.
{rebar_compatible, true}.
{url, {git, "git://github.com/alavrik/erlson.git", {branch, "master"}}}.
{applications, []}.
